.App {
  text-align: center;
}
body {
  background-color: #e8e8e8;
}
h1 {
  color: tomato;
}
span {
  color: grey;
}
.container {
  width: 50%;
  margin: 8rem auto;
  padding: 1rem;
  border-radius: 50px;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #c5c5c5, -20px -20px 60px #ffffff;
}

input {
  display: block;
  margin: 1rem auto;
  width: 50%;
  padding: 1rem 1rem;
  border-radius: 1rem;
  border: none;
  background:rgb(220, 220, 220);
  font-weight: 600;
  color:tomato;
}
button {
  padding: 0.6rem 4rem;
  border: none;
  border-radius: 50px;
  background-color: grey;
  color: white;
  font-weight: 600;
}
